.venv
final.csv
hourly_power_features.csv
hourly_power_features.csv
test.csv
train.csv
val.csv
household_power_consumption.csv

bin
lib
lib64
share
include/
pyvenv.cfg

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

.ipynb_checkpoints/

*.log
.DS_Store

*.csv